C_Container/schemas/ownship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common_types.xsd"/>

  <xs:element name="Ownship">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Frame" type="FrameType" minOccurs="0"/>
        <xs:element name="PositionMeters" type="Vec3MetersType" minOccurs="1"/>
        <xs:element name="VelocityMps" type="Vec3MpsType" minOccurs="0"/>
        <xs:element name="AttitudeDeg" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="roll" type="xs:double" use="optional"/>
            <xs:attribute name="pitch" type="xs:double" use="optional"/>
            <xs:attribute name="yaw" type="xs:double" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="NonEmptyString" use="optional"/>
      <xs:attribute name="id" type="NonEmptyString" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
