C_Container/schemas/sensors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common_types.xsd"/>

  <xs:simpleType name="SensorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RADAR"/>
      <xs:enumeration value="ESM"/>
      <xs:enumeration value="EOIR"/>
      <xs:enumeration value="LINK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AngleRangeType">
    <xs:attribute name="min" type="xs:double" use="required"/>
    <xs:attribute name="max" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="Beamwidth2DType">
    <xs:attribute name="azimuth" type="xs:double" use="required"/>
    <xs:attribute name="elevation" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="FrustumType">
    <xs:sequence>
      <xs:element name="AzimuthDeg" type="AngleRangeType" minOccurs="0"/>
      <xs:element name="ElevationDeg" type="AngleRangeType" minOccurs="0"/>
      <xs:element name="RangeMeters" type="AngleRangeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RadarMeasurementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="range"/>
      <xs:enumeration value="range_az_el"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Sensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sensor" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="SensorType"/>

              <xs:element name="BandwidthHz" type="PositiveDouble" minOccurs="0"/>
              <xs:element name="Beamwidth3dBDeg" type="Beamwidth2DType" minOccurs="0"/>

              <xs:element name="MeasurementModel" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Radar" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReferenceRangeMeters" type="NonNegativeDouble"/>
                          <xs:element name="ReferenceSnrDb" type="xs:double"/>
                          <xs:element name="ReferenceRcsM2" type="NonNegativeDouble"/>
                          <xs:element name="DetectionProbability" type="xs:double" minOccurs="0"/>
                          <xs:element name="FalseAlarmCountPerScan" type="NonNegativeInt" minOccurs="0"/>
                          <xs:element name="MeasurementType" type="RadarMeasurementType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ScanVolume" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Frame" type="FrameType" minOccurs="0"/>

                    <xs:element name="Frustum" type="FrustumType" minOccurs="0"/>

                    <xs:element name="Sphere" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RangeMeters" type="PositiveDouble"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="Schedule" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ScanRateHz" type="PositiveDouble" minOccurs="0"/>
                    <xs:element name="ScanPeriodSeconds" type="PositiveDouble" minOccurs="0"/>
                    <xs:element name="ScanEvents" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TimeSeconds" type="NonNegativeDouble"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="NonEmptyString" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="NonEmptyString" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
